@media screen and (min-width: 1920px) {
  * {
    font-size: 20px;
  }

  #head {
    height: 10vh;
    padding: 0px 30px;
  }

  #catalog {
    height: 50px;
    margin-top: 25px;
    padding: 10px 30px 50px;
  }

  #registration {
    height: 70vh;
  }

  .description:first-child {
    width: 70%;
  }

  .description:nth-child(2) {
    width: 40%;
    margin-top: 50px;
  }

  #btn {
    padding: 20px 50px;
    margin-top: 60px;
    letter-spacing: 2px;
  }

  #foot {
    height: 20vh;
  }

  .fa-mobile-alt {
    margin-right: 0.5em;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  * {
    font-size: 20px;
  }

  #head {
    height: 10vh;
    padding: 0px 30px;
  }

  #catalog {
    height: 50px;
    margin-top: 25px;
    padding: 10px 30px 50px;
  }

  #registration {
    height: 70vh;
  }

  .description:first-child {
    width: 70%;
  }

  .description:nth-child(2) {
    width: 40%;
    margin-top: 50px;
  }

  #btn {
    padding: 20px 50px;
    margin-top: 60px;
    letter-spacing: 2px;
  }

  #foot {
    height: 20vh;
  }

  .fa-mobile-alt {
    margin-right: 0.5em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  * {
    font-size: 20px;
  }

  #head {
    height: 10vh;
    padding: 0px 30px;
  }

  #catalog {
    height: 50px;
    margin-top: 25px;
    padding: 10px 30px 50px;
  }

  #registration {
    height: 70vh;
  }

  .description:first-child {
    width: 70%;
  }

  .description:nth-child(2) {
    width: 40%;
    margin-top: 50px;
  }

  #btn {
    padding: 20px 50px;
    margin-top: 60px;
    letter-spacing: 2px;
  }

  #foot {
    height: 20vh;
  }

  .fa-mobile-alt {
    margin-right: 0.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  * {
    font-size: 20px;
  }

  #head {
    height: 10vh;
    padding: 0px 30px;
  }

  #catalog {
    height: 50px;
    margin-top: 25px;
    padding: 10px 30px 50px;
  }

  #registration {
    height: 70vh;
  }

  .description:first-child {
    width: 70%;
  }

  .description:nth-child(2) {
    width: 40%;
    margin-top: 50px;
  }

  #btn {
    padding: 20px 50px;
    margin-top: 60px;
    letter-spacing: 2px;
  }

  #foot {
    height: 20vh;
  }

  .fa-mobile-alt {
    margin-right: 0.5em;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  * {
    font-size: 20px;
  }

  #head {
    height: 10vh;
    padding: 0px 30px;
  }

  #catalog {
    height: 50px;
    margin-top: 25px;
    padding: 10px 30px 50px;
  }

  #registration {
    height: 70vh;
  }

  .description:first-child {
    width: 70%;
  }

  .description:nth-child(2) {
    width: 40%;
    margin-top: 50px;
  }

  #btn {
    padding: 20px 50px;
    margin-top: 60px;
    letter-spacing: 2px;
  }

  #foot {
    height: 20vh;
  }

  .fa-mobile-alt {
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 575px) {
  * {
    font-size: 20px;
  }

  #head {
    height: 10vh;
    padding: 0px 30px;
  }

  #catalog {
    height: 50px;
    margin-top: 25px;
    padding: 10px 30px 50px;
  }

  #registration {
    height: 70vh;
  }

  .description:first-child {
    width: 70%;
  }

  .description:nth-child(2) {
    width: 40%;
    margin-top: 50px;
  }

  #btn {
    padding: 20px 50px;
    margin-top: 60px;
    letter-spacing: 2px;
  }

  #foot {
    height: 20vh;
  }

  .fa-mobile-alt {
    margin-right: 0.5em;
  }
}