* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background: url(../img/background.jpg) no-repeat center center / cover;
  height: 100vh;
}

body:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(252, 70, 242, 0.5830707282913166) 24%,
    rgba(0, 249, 255, 0.8015581232492998) 88%
  );
  z-index: -1;
}

#head {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

#logo {
  transition: 1s;
}

#logo:hover {
  transform: scale(1.05);
  transition: .5s;
}

#catalog {
  height: 50px;
  text-decoration: none;
  font-family: "Parisienne", cursive;
  border: 1px solid;
  border-color: rgb(255, 255, 255) rgb(255, 255, 255)  rgb(255, 255, 255, 0) rgb(255, 255, 255, 0);
  margin-top: 25px;
  padding: 10px 30px 50px;
  font-size: 30px;
  transition: border .5s;
}

#catalog:hover {
  border-color: rgb(255, 255, 255);
  transition: .5s;
}

#registration {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.description:first-child {
  width: 70%;
}

.description:nth-child(2) {
  width: 40%;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 300;
}

.company {
  font-weight: 500;
}

#btn {
  border: 1px solid;
  border-color: rgb(255, 255, 255, 0) rgb(255, 255, 255, 0)  rgb(255, 255, 255) rgb(255, 255, 255);
  padding: 20px 50px;
  margin-top: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  outline: none;
  letter-spacing: 2px;
  transition: border .5s;
}

#btn:hover {
  border-color: rgb(255, 255, 255);
  transition: .5s;
}

#foot {
  height: 20vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  font-size: 45px;
  font-family: "Parisienne", cursive;
}

#tel {
  text-decoration: none;
  font-size: 20px;
}

.fa-mobile-alt {
  margin-right: 10px;
}